{
  "parser": "babel-eslint",

  "rules": {
    // Override our default settings just for this directory
    "eqeqeq": "warn",
    "strict": "off",
    "operator-linebreak": "off",
    "linebreak-style": "warn",
    "require-jsdoc": "off",
    "no-tabs": "off"
  }
}
